<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>

<body>
	<div th:if="${session.sessionUser != null}">
		<header>
			<nav>
				<div class="logo">
					<img alt="Logo" th:src="@{/img/blogspotter-high-resolution-logo (1).png}" />
				</div>
				<div class="selectContainer">
					<select id="dropdown">
						<option>Select</option>
						<option th:value="@{/home(pageNumber=${0}, pageSize=${session.pageSize}, sortBy=${session.sortBy})}">Home</option>
						<option th:value="@{/addPostPage}">Create Post</option>
						<option th:value="@{/profile}">Profile</option>
						<option th:value="@{/addCatagory}" disabled>Add Catagory</option>
						<option th:value="@{/logoutPage}">LogOut</option>
					</select>
				</div>
				<div class="user">
					<img alt="User Image" th:src="@{/img/images-removebg-preview.png}" />
					<div class="name" th:text="${session.sessionUser.getName()}"></div>
				</div>
			</nav>
		</header>
		<main>
			<div class="subHead">
				<div class="catagory"><a href="/catagory?id=1">Technology</a></div>
				<div class="catagory"><a href="/catagory?id=3">Health</a></div>
				<div class="catagory"><a href="/catagory?id=2">Lifestyle</a></div>
				<div class="catagory"><a href="/catagory?id=4">Business</a></div>
				<div class="catagory"><a href="/catagory?id=5">Food & Recipes</a></div>
				<div class="catagory"><a href="/catagory?id=6">Travel</a></div>
				<div class="catagory"><a href="/catagory?id=7">Education</a></div>
				<div class="catagory"><a href="/catagory?id=8">Entertainment</a></div>
				<div class="catagory"><a href="/catagory?id=10">Sports</a></div>
				<div class="catagory"><a href="/catagory?id=9">Pet</a></div>
			</div>


			<div class="searchBox">
				<form action="/search">
					<input type="search" name="search" class="search" placeholder="Enter Keyword" required>
					<input type="submit" value="Search" class="searchBtn">
				</form>
			</div>
			<div class="mainPostcontainer" th:if="${session.postSize > 0}">
				<div class="post" th:each="n : ${session.sessionListPostHttpSession}">
					<a th:href="@{/postPage(id=${n.getId()})}">
						<div class="image">
							<img alt="Post Image" class="inImg" />
						</div>
						<div class="title" th:text="${n.getTitle()}"></div>
					</a>
				</div>
			</div>
			<div th:if="${session.postSize == 0}" id="noPost">
				<h3>No Post Found</h3>
			</div>
			<div class="next">
				<a
					th:href="@{/back(pageNumber=${session.count}, pageSize=${session.pageSize}, sortBy=${session.sortBy})}">

					<button class="backBtn" th:if="${session.count > 0}">Back</button>
				</a>
				<a
					th:href="@{/next(pageNumber=${session. count}, pageSize=${session.pageSize}, sortBy=${session.sortBy})}">
					<button class="btn" th:if="${session.sessionListPostHttpSession.size() > 0}">Next</button>
				</a>
			</div>
		</main>
		<script>
			document.getElementById('dropdown').addEventListener('change', function () {
				var selectedValue = this.value;
				if (selectedValue) {
					window.location.href = selectedValue;
				}
			});
		</script>
	</div>
	<!-- If user is not logged in -->
	<div th:unless="${session.sessionUser != null}">
		<script th:inline="javascript">
			/*<![CDATA[*/
			window.location.replace(/*[[@{/loginPage}]]*/);
            /*]]>*/
		</script>
	</div>
</body>

</html>